@import url('https://fonts.googleapis.com/css2?family=Almarai:wght@400;700&family=Cairo:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');
@import './Shared.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
body[lang="en"] {
    font-family: 'Roboto', sans-serif; /* English font family */
}

body[lang="ar"] {
    font-family: 'Cairo', sans-serif; /* Arabic font family */
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.container {
    width: 80%;
    margin: 0 auto;
}

button {
    // reset to default
    font-family: inherit;
    outline: none;
    border: none;
    background: none;
    letter-spacing: inherit;
    color: inherit;
    font-size: inherit;
    text-align: inherit;
    padding: 0;
}

input {
    font-family: inherit;
}