@import "../../style/Variables.scss";

.page_container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    font-size: 40px;
}

.link {
    @include link();
    font-weight: 600;
    font-size: 20px;
    background-color: $primary;
    color: $text-white;
    padding: 10px 20px;
    border-radius: 5px;
}